<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.jasonzhang.app">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="me.jasonzhang.app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity android:name="me.jasonzhang.app.module.main.MainActivity" android:screenOrientation="landscape">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".module.model1.Module1Activity" android:screenOrientation="landscape"/>
        <activity android:name=".module.metro.MetroActivity" android:screenOrientation="landscape" />
    </application>

</manifest>